<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>94EED11C-93A9-4FF4-8F28-14E546743485</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79F3A2E6-D920-4115-8809-094B5B6170A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E59094FA-7C50-4B18-8B4D-518D96B0966F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94EED11C-93A9-4FF4-8F28-14E546743485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dmitry Podgorniy</string>
	<key>description</key>
	<string>Translate en-ru and ru-en</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>79F3A2E6-D920-4115-8809-094B5B6170A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E59094FA-7C50-4B18-8B4D-518D96B0966F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>runningsubtext</key>
				<string>Перевожу / translating</string>
				<key>script</key>
				<string>import translate
print translate.translate_suggestions('{query}')</string>
				<key>subtext</key>
				<string>en-ru, ru-en</string>
				<key>title</key>
				<string>Translate</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>94EED11C-93A9-4FF4-8F28-14E546743485</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>79F3A2E6-D920-4115-8809-094B5B6170A3</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>94EED11C-93A9-4FF4-8F28-14E546743485</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>E59094FA-7C50-4B18-8B4D-518D96B0966F</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/podgorniy/alfred-translate</string>
</dict>
</plist>
